.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {
  float:none;
}
.profile-input {
  margin-bottom: 10px;
}
.profile-btn {
  margin-bottom: 15px;
}

.weather-list {
  margin: 20px auto;
  width: 40%;
}
.weather-search {
  margin: 20px auto;
  width: 40%;
}
.weather-search label {
  font-weight: bold;
  margin-right: 20px;
}
.weather-search input {
  padding: 3px 5px;
  outline: none;
  width: 50%;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .weather-list {
    width: 80%;
  }
}
